@plugin '../../less-scripts/autogen-comment-plugin';
autocomment();

@import (reference) "../../styles/mixin.less";
@import (reference) "./card_variables.less";

/* cards-container */
.section.cards-container {
  .flex(column);
  padding-left: 22px;
  padding-right: 22px;
  text-align: center;

  >div:first-child {
    :where(ul, li, h1, h2, h3, h4, h5, h6, p) {
      .unset();
    }
  }

  >* {
    .width-basis();
  }

}

/* cards -> when space is less, items will shift accordingly and content of items will be placed horizontal */
.cards {
  :where(ul, li, h1, h2, h3, h4, h5, h6, p) {
    .unset();
  }

  >ul {
    .flex(column);
    row-gap: 15px;
    justify-content: space-evenly;
    align-content: stretch;
  }

  li {
    .flex();
    .width-basis();
    border-radius: 6px;
    border: 1px solid #e5edec;
    box-shadow: 0 26px 18px -26px rgba(0, 0, 0, 0.07);
    background-color: #fff;
    padding: 24px 18px;
  }

  .cards-image {
    height: 62px;
    width: 60px;
    align-self: center;
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    transform: rotate(270deg);
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;

    svg {
      margin-top: 15px;
      margin-bottom: 15px;
      transform: rotate(90deg);
      height: 32px;
      width: 32px;
    }
  }

  .cards-body {
    .flex();
    flex-grow: 1;
    align-items: center;

    >h3 {
      margin-left: 14px;
      margin-right: 14px;
      font-size: 18px;
      line-height: 24px;
    }

    >p {
      font-size: 14px;
      line-height: 20px;

      &:has(.icon) {
        font-size: 18px;
        line-height: 24px;
        font-family: "Open Sans Semibold";
      }

      &.button-container {
        line-height: 24px;

        >a {
          .unset();
          cursor: pointer;
          letter-spacing: 0;
          border: none;
          background-color: transparent;
          font-family: "Open Sans Bold";
          color: #008533;

          &:has(.icon) {
            overflow: visible;
          }
        }
      }

      >a + .icon {
        margin-left: 10px;
      }
    }
  }
}

/* cards.large -> when space is less, items will shift but content of items will remain vertical  */
.cards.large {
  >ul {
    row-gap: 40px;
    justify-content: flex-start;
  }

  li {
    .flex(column);
    border-radius: 12px;
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 10%);
    padding: 24px 16px 40px 16px;
  }

  .cards-image {
    transform: none;
    border-radius: unset;
    background-size: unset;
    background-repeat: unset;
    background-image: unset;
    height: fit-content;
    width: fit-content;
    align-self: flex-start;

    svg {
      margin-top: 0;
      margin-bottom: 0;
      transform: none;
      width: 48px;
      height: 48px;
    }

    .cards-body {
      >p {
        margin-top: 0;
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0px;
        }
      }

      > :where(h2, h3) {
        +p {
          flex-grow: unset;
          font-size: 16px;
          line-height: 24px;
          margin: 0 0 32px 0;
        }
      }
    }
  }

  .cards-body {
    .flex(column);
    text-align: start;
    align-items: flex-start;
    font-size: 20px;
    line-height: 28px;

    > :where(h2, h3) {
      font-size: 24px;
      line-height: 32px;
      margin-top: 24px;
      margin-bottom: @spacing-03;
      margin-left: 0px;
      margin-right: 0px;
    }

    >p {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 24px;

      >a {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}

/* cards.pointer -> change mouse cursor to pointer when hovering items  */
.cards.pointer {
  li {
    cursor: pointer;
  }
}

/* cards.horizontal -> .cards-image and .cards-body will be horizontally aligned */
.cards.horizontal {
  li {
    flex-direction: row !important;
    flex-wrap: nowrap !important;
  }
}

/* cards.outlined -> card will have a outline */
.cards.outlined {
  li {
    transition: .3s !important;
    border: 1px solid #e5edec !important;
    border-radius: 12px !important;
    box-shadow: 0 25px 20px -15px rgb(0 0 0 / 10%) !important;
  }
}

/* cards.muted -> card will not have any border, shadow, transition, etc */
.cards.muted {
  li {

    &,
    &:hover {
      background-color: transparent !important;
      box-shadow: unset !important;
      transform: unset !important;
      border: unset !important;
      padding: 0px !important;
    }
  }
}

/* home services */
.home-services.cards-container {
  padding-bottom: 32px;
  background-color: var(--overlay-background-color);

  >div:first-child {
    >h1 {
      font-size: 24px;
      margin: 0px auto 32px auto;
    }
  }

  a {
    .icon {
      margin-left: 0;
    }
  }

  .cards {
    li {
      &:hover {
        :where(p, a.button) {
          .icon-arrow {
            transition: transform 900ms;
            transform: translateX(8px);
          }
        }
      }
    }

    .cards-body {
      >h3 {
        +p {
          flex-grow: 1;
        }
      }
    }
  }
}

/* personal nedbank */
.personal-nedbank.cards-container {
  padding-top: 60px;

  >div:first-child {
    >h2 {
      font-size: 32px;
      line-height: 1.2;
      margin-bottom: 8px;
      font-weight: normal;

      >strong {
        font-weight: bold;
      }
    }
  }

  .cards.large {
    padding-top: 4px;
    margin-top: 15.5px;

    >ul {
      row-gap: 15.5px;
      column-gap: 30px;
    }

    li {
      padding: 30.5px 36.5px;
    }

    .cards-image {
      margin-bottom: 16px;
      height: 82px;
      width: 80px;
      align-self: center;
      background-image: url(/icons/intercept_bg.svg);
      border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
      transform: rotate(270deg);
      background-size: contain;
      background-repeat: no-repeat;

      svg {
        height: 40px;
        width: 40px;
        margin-top: 15px;
        margin-bottom: 15px;
        transform: rotate(90deg);
      }
    }

    .cards-body {
      color: #666;
      font-family: "Open Sans Regular";
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      align-self: center;
    }
  }
}

/* personal goals */
.personal-goals.cards-container {
  padding-top: 65px;
  padding-bottom: 40px;

  >div:first-child {
    >h2 {
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 56px;
      text-align: left;
    }
  }

  .cards.large {
    .cards-body {
      >h3 {
        +p {
          flex-grow: 1;
        }
      }
    }
  }
}

/* personal advantages */
.personal-advantages.cards-container {
  padding-top: 36px;

  >div:first-child {
    >h2 {
      font-size: 24px;
      line-height: 34px;
      margin-top: 15.5px;
      margin-bottom: 28px;
    }
  }

  .cards.large {
    >ul {
      row-gap: 15.5px;
      column-gap: 30px;
    }
  }
}

@media (@width_576) {

  .cards.large {
    >ul {
      gap: 64px 15px;
      .flex(row, wrap);
    }

    li {
      max-width: calc(calc(100% - 15px)/2);
    }

    .cards-body {
      font-size: 18px;
      line-height: 28px;

      >p:first-child,
      > :where(h2, h3)+p {
        font-size: 18px;
        line-height: 28px;
        margin-top: @spacing-03;
      }
    }
  }

  .home-promotions.cards-container {
    >div:first-child {
      font-size: 32px;
      line-height: 40px;
      margin-bottom: 40px;
    }
  }

  .home-help.cards-container {
    padding-top: 48px;
    padding-bottom: 40px;
    height: auto;
    margin-top: 80px;

    .cards.large {
      .cards-body {
        > :where(h2, h3) {
          +p {
            line-height: 26px;
            margin: 0 0 40px 0;
          }
        }
      }

      li:last-child {
        .cards-body {
          align-items: center;
          text-align: center;

          >h3 {
            font-size: 32px;
            line-height: 40px;
            margin: 0px 0 21px 0;
            padding: 0;

            +p {
              font-size: 20px;
              line-height: 28px;
              margin: 0 114px 40px 114px;
              padding: 0;
            }
          }
        }
      }
    }
  }

  .personal-nedbank.cards-container {
    .cards.large {
      li {
        flex-basis: calc(calc(100% - 30px)/2);
        max-width: calc(calc(100% - 30px)/2);
      }
    }
  }

  .personal-goals.cards-container {
    padding-top: 80px;
    padding-bottom: 160px;

    >div:first-child {
      >h2 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 128px;
      }
    }
  }

  .personal-advantages.cards-container {
    >div:first-child {
      >h2 {
        font-size: 34px;
        line-height: 41px;
        margin-bottom: 44px;
      }
    }

    .cards.large {
      li {
        flex-basis: calc(calc(100% - 30px)/2);
        max-width: calc(calc(100% - 30px)/2);
      }
    }
  }
}

@media (@width_768) {
  .section.cards-container {
    padding-left: 106px;
    padding-right: 106px;
  }

  .cards {
    li {
      padding: 27px 18px;
    }

    .cards-body {
      font-size: 16px;
      line-height: 24px;

      >h3 {
        margin-left: 16px;
        margin-right: 16px;
      }

      >p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }

  .cards.large {
    li {
      padding: 27px 18px;
    }
  }

  .home-services.cards-container {
    padding-bottom: 48px;

    >div:first-child {
      >h1 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 48px;
      }
    }

    .cards {
      .cards-body {
        >h3 {
          +p {
            margin-left: 16px;
            margin-right: 16px;
            font-size: 14px;
          }
        }
      }
    }
  }

  .personal-nedbank.cards-container {
    padding-top: 80px;

    .cards.large {
      padding-top: 49px;
      margin-top: 24px;

      >ul {
        row-gap: 24px;
      }

      li {
        padding: 64px 26px 72px 24px;
      }

      .cards-image {
        margin-bottom: 54px;
      }
    }
  }

  .personal-advantages.cards-container {
    >div:first-child {
      >h2 {
        margin-top: 24px;
      }
    }
  }
}

@media (@width_900) {
  .personal-nedbank.cards-container {
    padding-left: 106px;
    padding-right: 106px;
    max-width: none;

    .cards.large {
      padding-top: 80px;

      li {
        padding: 40px 36px;
      }

      .cards-image {
        margin-bottom: 24px;
      }
    }
  }
}

@media (@width_1025) {
  .cards {
    >ul {
      .flex(row, wrap);
      gap: 15px 23px;
    }

    li {
      .flex(column);
      padding: 24px;
      flex: 1 0 0;
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
      border-radius: 12px;
    }

    .cards-image {
      height: 82px;
      width: 80px;
    }

    .cards-body {
      .flex(column);

      >h3 {
        flex-grow: 0;
        margin: 24px 0 0 0;
        font-size: 22px;
        line-height: 28px;
      }
    }
  }

  .cards.large {
    >ul {
      gap: 15px 35px;
    }

    li {
      padding: 48px 32px 48px 32px;
    }

    .cards-body {
      >h2 {
        +p {
          font-size: 20px;
          margin-bottom: @spacing-07;
        }
      }
    }
  }

  .home-services.cards-container {
    padding-bottom: 80px;

    >div:first-child {
      >h1 {
        margin-bottom: 80px;
      }
    }

    .cards {
      li {
        min-width: 180px;
        max-width: 225px;
      }

      .cards-body {
        >h3 {
          +p {
            font-size: 16px;
            line-height: 24px;
            margin: 8px 0 24px 0;
          }
        }
      }
    }
  }

  .home-promotions.cards-container {
    .cards.large {
      >ul {
        justify-content: space-evenly;
      }
    }
  }

  .home-help.cards-container {
    padding-top: 64px;
    margin-top: 112px;

    >div:first-child {
      >h3 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 40px;
      }
    }

    .cards.large {
      li {
        .width-basis(2, 35px);
      }

      li:last-child {
        .cards-body {
          >h3 {
            margin-top: 49px;
          }
        }
      }
    }
  }

  .personal-nedbank.cards-container {
    .cards.large {
      li {
        .width-basis(4, 30px);
      }

      .cards-image {
        height: 82px;
        width: 80px;
      }
    }
  }

  .personal-advantages.cards-container {
    padding-top: 60px;

    >div:first-child {
      >h2 {
        box-sizing: border-box;
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 60px;
        padding: 0 15px;
      }
    }

    .cards.large {
      li {
        .flex(row);
        column-gap: 20px;
      }

      .cards-image {
        margin-top: 30px;

        svg {
          height: 32px;
          width: 32px;
        }
      }
    }
  }

  .personal-goals.cards-container {
    .cards.large {
      >ul {
        justify-content: space-evenly;
      }
    }
  }
}

@media (@width_1281) {
  .cards.large {
    li {
      flex-basis: 0;
    }

    .cards-body {
      >h2 {
        +p {
          flex-basis: 50%;
        }
      }
    }

    .cards-image {
      img {
        height: 220px;
        width: 374px;
      }
    }
  }

  .home-help.cards-container {
    height: 640px;

    >div:first-child {
      >h3 {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 64px;
      }
    }

    .cards.large {
      li {
        flex-basis: 0;
      }

      li:last-child {
        .cards-body {
          text-align: left;
          align-items: flex-start;

          >h3 {
            +p {
              margin: 0 10px 67px 0;
              padding: 0;
              text-align: left;
            }
          }
        }
      }
    }
  }

  .section {
    &.narrow {
      &.cards-container {
        >div {
          &.text-wrapper {
            >div {
              &.text {
                padding-top: @spacing-13;
                padding-bottom: @spacing-10;
              }
            }
          }
        }
      }
    }
  }

  .home-services.cards-container {
    .cards {
      >ul {
        >li {
          .cards-image {
            display: flex;
            justify-content: center;
            align-items: center;

            >span {
              display: flex;
            }
          }
        }
      }
    }
  }
}

#switch-to-nedbank-hassle-free {
  font-weight: 400;
  line-height: 32px;
  font-size: 24px;

  + p {
    font-size: 16px;
    line-height: 24px;
  }
}

@media(@width_1025) {
  #switch-to-nedbank-hassle-free {
    line-height: 40px;
    font-size: 32px;

    + p {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

@media (@width_1440) {
  .home-services.cards-container {
    padding-left: calc(~'(100% - 1228px)/2');
    padding-right: calc(~'(100% - 1228px)/2');
  }
}