.cards-container .default-content-wrapper > h2 {
  margin-top: 90px;
  margin-bottom: 120px;
}
.cards > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: var(--body-font-size-xs);
  text-align: center;
}
.cards > ul > li {
  border: 1px solid var(--overlay-background-color);
  border-radius: 10px;
  transition: all 0.5 ease-out;
  box-shadow: 1px 1px 5px #00000020;
  background-color: white;
  color: black;
  font-size: var(--body-font-size-s);
}
.cards > ul > li:hover {
  box-shadow: 2px 2px 10px #00000040;
  transform: translate(-1px, -1px);
}
.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.cards h3 {
  font-size: var(--heading-font-size-s);
}
.cards .cards-body {
  margin: 16px;
}
.cards a.button {
  color: var(--link-color);
  background-color: unset;
  padding: 0;
  margin: 0;
  font-family: var(--heading-font-family);
}
.cards a.button::after {
  margin-left: 8px;
  background-position: 0 4px;
  content: '';
  display: inline-block;
  width: 2em;
  height: 1em;
  background-repeat: no-repeat;
  background-image: url('/icons/arrow.svg');
  transition: margin 0.3s;
}
.cards a.button:hover::after {
  margin-left: 16px;
}
.cards .button-container {
  margin: 0;
}
.cards.large > ul {
  margin-top: 64px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  text-align: left;
}
.cards.large > ul > li {
  padding: 32px;
}
.cards.no-border > ul > li {
  border: unset;
  border-radius: unset;
  transition: none;
  box-shadow: unset;
}
.cards.no-border .cards-image {
  text-align: left;
}
.cards.muted > ul > li {
  box-shadow: unset;
  transform: unset;
  text-align: left;
}
.cards.muted > ul > li:hover {
  box-shadow: unset;
  transform: unset;
  text-align: left;
}
