.field-wrapper {
  display: flex;
  flex-direction: column;
}

.form-radio-wrapper,
.form-checkbox-wrapper {
  flex-direction: row;
}

.repayments-calculator-section {
  box-sizing: border-box;
  --text-color: #17252e;
  --text-color-bold: #000;
  --text-color-green: #5fa317;
  --link-color: #008533;
  --tooltip-icon: url(/icons/tooltip.svg);
  --up-arrow-icon: url(/icons/up-arrow.svg);
  --down-arrow-icon: url(/icons/down-arrow.svg);
  --diagonal-arrow-icon: url(/icons/diagonal-arrow.svg);
  --fontFamily-nedbank-medium: "Nedbank Sans Medium";
  --fontFamily-nedbank-bold: "Nedbank Sans Bold";
  --fontFamily-open-regular: "Open Sans Regular";
  --fontFamily-open-semibold: "Open Sans Semibold";
  --adaptiveform-outlined-borderColor: #d5e4e1;
  --adaptiveform-label-color: var(--text-color);
  --adaptiveform-label-fontFamily: var(--fontFamily-nedbank-medium);
  --adaptiveform-widget-color: var(--text-color);
  --adaptiveform-widget-color-bold: var(--text-color-bold);
  --adaptiveform-widget-color-green: var(--text-color-green);
  --adaptiveform-widget-border: 2px solid #78be20;
  --adaptiveform-widget-fontFamily: var(--fontFamily-open-semibold);
  --adaptiveform-widget-fontFamily-bold: var(--fontFamily-nedbank-bold);
  --adaptiveform-widget-focus-borderColor: #006341;
  --adaptiveform-longdescription-color: #565c5d;
  --adaptiveform-longdescription-fontFamily: var(--fontFamily-open-regular);
  --adaptiveform-errormessage-color: #eb3c36;
  --adaptiveform-questionmark-background: var(--tooltip-icon);
  --radiobutton-option-label-color: #494f50;
  --radiobutton-option-label-fontFamily: var(--fontFamily-open-regular);
  --radiobutton-option-widget-border: 2px solid #78be20;
  --radiobutton-option-widget-color: #78be20;
  --panel-label-color: #494f50;
  --panel-label-fontFamily: var(--fontFamily-open-regular);
  --range-widget-thumb-borderColor: #78be20;
  --range-widget-thumb-backgroundColor: #fff;
  --range-minmax-color: #565c5d;
  --range-minmax-fontFamily: var(--fontFamily-open-regular);
  --button-widget-color: #fff;
  --button-widget-color-link: var(--link-color);
  --button-widget-backgroundColor: #008533;
  --button-widget-backgroundColor-black: #17252e;
  --personal-calculator-heading-h2-fontFamily: var(--fontFamily-nedbank-bold);
  --personal-calculator-heading-h2-color: var(--text-color);
  --personal-calculator-heading-h3-fontFamily: var(--fontFamily-nedbank-medium);
  --personal-calculator-heading-h3-color: var(--text-color);
  --personal-calculator-heading-selected-borderColor: #008533;
  --personal-calculator-info-backgroundColor: #f9fbfb;
  --personal-calculator-exploreRate-color: #008533;
  --personal-calculator-exploreRate-unchecked-icon: var(--up-arrow-icon);
  --personal-calculator-exploreRate-checked-icon: var(--down-arrow-icon);
  --personal-calculator-rate-longdescription-fontFamily: var(--fontFamily-open-regular);
  --personal-calculator-rate-longdescription-color: #333;
  --personal-calculator-seeLoanDetails-icon: var(--diagonal-arrow-icon);
}

.repayments-calculator-section {
  max-width: 1228px;
  border: 1px solid #d5e4e1;
  border-radius: 20px;
  padding: 48px 0;
  margin-bottom: 48px;
  margin: auto;
}

input,
textarea,
select {
  padding: 11px;
  border-radius: 0;
  width: 100%;
  max-width: 50rem;
  box-sizing: border-box;
  margin-top: 4px;
}

input,
textarea,
select {
  border: 1px solid rgb(193 193 195);
}

output {
  padding: 11px;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 16px;
  font-family: var(--adaptiveform-widget-fontFamily-bold);
  letter-spacing: 0;
  font-weight: 400;
  padding: 0;
  margin-top: 0;
}

label,
legend {
  margin-bottom: 24px;
  line-height: 24px;
  font-family: var(--adaptiveform-label-fontFamily);
  color: var(--adaptiveform-label-color);
  font-size: 16px;
  padding-right: 16px;
}

form fieldset {
  border: none;
  padding: 0;
}

.form-radio-wrapper label,
.form-checkbox-wrapper label {
  font-size: 16px;
  font-family: var(--radiobutton-option-label-fontFamily);
  line-height: 26px;
  color: var(--radiobutton-option-label-color);
  padding-left: 20px;
}

input[type="checkbox"],
input[type="radio"] {
  border: var(--radiobutton-option-widget-border);
  height: 24px;
  width: 24px;
  margin: unset;
  transform: unset;
  appearance: none;
}

input[type="checkbox"]:checked::after,
input[type="radio"]:checked::after {
  background-color: var(--radiobutton-option-widget-color);
  left: -7px;
  top: -7px;
  width: 14px;
  height: 14px;
}

input[type="radio"]::after,
input[type="checkbox"]::after {
  content: "";
  display: block;
  position: relative;
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="radio"]::after {
  border-radius: 50%;
}

input[type="number"] {
  border-radius: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: var(--adaptiveform-widget-fontFamily);
  color: var(--adaptiveform-widget-color);
  border: var(--adaptiveform-widget-border);
  background-color: transparent;
  height: 56px;
  background-clip: padding-box;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  display: block;
  width: 100%;
  max-width: 600px;
}

.form-exploreRate label {
  margin: 0;
  padding: 0;
  cursor: pointer;
  color: var(--personal-calculator-exploreRate-color);
  font-family: var(--adaptiveform-widget-fontFamily);
}

.form-exploreRate input[type="checkbox"] {
  border: none;
  padding: 0;
}

.form-exploreRate input[type="checkbox"]::after {
  content: var(--personal-calculator-exploreRate-unchecked-icon);
  font-size: 16px;
  cursor: pointer;
  color: var(--personal-calculator-exploreRate-color);
  font-family: var(--adaptiveform-widget-fontFamily);
  margin-left: 15px;
  position: static;
}

.form-exploreRate input[type="checkbox"]:checked::after {
  content: var(--personal-calculator-exploreRate-checked-icon);
  background: transparent;
}

.form-exploreRate {
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.form-emi output {
  color: #5fa317;
}

.form-seeLoanDetails button {
  cursor: pointer;
  background-color: transparent;
  color: var(--button-widget-color-link);
}

.form-seeLoanDetails button::after {
  content: var(--personal-calculator-seeLoanDetails-icon);
  transition: transform 900ms;
  display: inline-block;
  margin-left: 8px;
}

.form-seeLoanDetails button:hover::after {
  transform: translate(6px, -5px);
}

button {
  font-family: var(--adaptiveform-widget-fontFamily);
  white-space: unset;
  padding: 0px;
  border-radius: 6px;
  text-align: center;
  margin: 0px;
  height: 56px;
  color: var(--button-widget-color);
  overflow-wrap: break-word;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  background-color: var(--button-widget-backgroundColor);
}

.form-startLoanApplication button {
  background-color: #17252e;
  color: #fff;
  border: 2px solid #17252e;
}