@plugin '../../less-scripts/autogen-comment-plugin';
autocomment();

@import (reference) "./form_variables.less";
@import (reference) "../../styles/mixin.less";

/** base styling **/

.field-wrapper[data-hidden="true"] {
  display: none;
}

.field-wrapper {
  .flex(column);
  max-width: @field-max-width;
}

form {
  box-sizing: border-box;
}

.form-radio-wrapper,
.form-checkbox-wrapper {
  flex-direction: row;
}

fieldset {
  border: none;
  .unset();

  .form-radio-wrapper,
  .form-checkbox-wrapper {
    margin-top: 0;

    label {
      margin-bottom: @spacing-04;
    }
  }

  &[data-repeatable="true"] {
    counter-reset: fieldset-counter;

    button:not(.field-tooltip-icon) {
      .unset();
      text-align: left;
      background-color: unset;
      color: unset;
      display: inline-flex;
      width: fit-content;
      height: fit-content;
      column-gap: 16px;
      align-items: flex-start;
    }

    legend {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: baseline;

      .fieldset-Remove {
        &::after {
          content: @minus-icon;
        }
        &::before {
          content: 'Remove';
        }
      }
    }

    .fieldset-Add {
      &::before {
        content: @plus-icon;
      }
      &::after {
        content: 'Add';
      }
    }

    &[data-maxxed="true"] {
      .fieldset-Add {
        display: none;
      }
    }
  }
}

input,
textarea {
  display: block;
  font-size: @font-size-base;
  line-height: @font-lineheight-base;
  font-family: @font-family-opensans-bold;
  font-weight: @font-weight-regular;

  color: @dotcoza-color-title-grey;

  border: 2px solid @dotcoza-color-greens-bright;
  border-radius: 0;
  outline: 0;

  width: 100%;
  padding: @input-padding;
  margin-bottom: @input-margin-bottom;

  &:focus {
    border-color: @dotcoza-color-greens-darkgreen;
  }
}

output {
  font-family: @font-family-nedbank-bold;
  font-size: @font-size-h1;
  font-weight: @font-weight-regular;
  line-height: @font-lineheight-h1;
  letter-spacing: @letter-spacing-base;

  margin-bottom: @input-margin-bottom;
  margin-top: 0;
  padding: 0;
}

label,
legend {
  font-family: @font-family-nedbank-medium;
  font-size: @font-size-base;
  line-height: @font-lineheight-base;
  color: @dotcoza-color-title-grey;
  margin-bottom: @label-margin-bottom;
}

.field-description {
  font-family: @font-family-secondary;
  font-size: @font-paragraph-small;
  line-height: @font-lineheight-small;
  letter-spacing: @letter-spacing-base;
  color: @field-description-color;
}

[data-invalid="true"] .field-description {
  color: @field-error-color;
}

/** base styling end */

/** radio button */

.form-radio-wrapper label,
.form-checkbox-wrapper label {
  font-family: @font-family-secondary;
  line-height: @font-lineheight-medium;
  color: @dotcoza-color-body-grey;
  padding-left: 20px;
}

input[type="checkbox"] {
  height: 24px;
  width: 24px;
}

input[type="radio"] {
  height: 24px;
  width: 24px;
  border: 2px solid @dotcoza-color-greens-bright; // ideally not required but added to override main styles.less
  transform: unset; // ideally not required but added to override main styles.less
  .unset();
  .circle();
  appearance: none;

  &:focus {
    box-shadow: 0 0 0 1px @dotcoza-color-greens-bright;
  }


  &::after {
    content: "";
    display: block;
    position: relative;
    .circle();
  }

  &:checked::after {
    background-color: @dotcoza-color-greens-bright;
    left: 3px;
    top: 3px;
    width: 14px;
    height: 14px;
  }
}

/** currency field **/
.currency-input-wrapper {
  display: flex;
  align-items: center;
  border: 2px solid #78be20;
  margin-bottom: 15px;
  padding: 0 @spacing-04;
  font-size: @font-size-base;
  line-height: @font-lineheight-base;
  font-family: @font-family-opensans-bold;
  font-weight: @font-weight-regular;

  .currency-symbol {
    margin-right: @spacing-02;
  }

  input[type="number"] {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
  }
}

/** number field **/
input[type="number"] {
  height: 56px;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  padding: calc(@spacing-01 * 3) @spacing-04;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/** form button */
form button {
  font-family: @font-family-opensans-bold;
  font-size: @font-size-medium;
  line-height: @font-lineheight-base;

  height: 56px;
}

/** range - slider */
input[type="range"] {
  .unset();
  appearance: none;
  height: 5px;
  border-radius: 5px;
  border: none;
  background-image: linear-gradient(to right, @dotcoza-color-greens-bright calc(100% * var(--current-steps)/var(--total-steps)), @range-color-grey calc(100% * var(--current-steps)/var(--total-steps)));

  &::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    .circle();
    background: @dotcoza-color-neutrals-white;
    border: 3px solid @dotcoza-color-greens-bright;
    cursor: pointer;
    outline: 3px solid @dotcoza-color-neutrals-white;
  }

  &:focus::-webkit-slider-thumb {
    border-color: @dotcoza-color-greens-darkgreen;
  }
}

.range-bubble {
  font-family: @font-family-nedbank-medium;
  color: @dotcoza-color-title-grey;
  font-size: @font-size-large;
  line-height: @font-lineheight-large;

  position: relative;
  left: calc(var(--current-steps)*100% / (var(--total-steps) + 1));
  display: inline-block;
  padding-bottom: @spacing-04;
}

.range-min,
.range-max {
  font-family: @font-family-opensans-regular;
  font-size: @font-size-small;
  line-height: @font-lineheight-small;

  color: @range-color-light;

  margin-top: @spacing-05;
  display: inline-block;
}


.range-max {
  float: right;
}

.range-min-max::after {
  content: var(--max-value);
}

/* tooltip */

.field-tooltip-icon {
  .unset();
  display: inline;
  width: 14px;
  height: 14px;
  border-radius: 9px;
  background: @tooltip-icon;
  cursor: pointer;
  position: absolute;
  box-sizing: content-box;
  background-repeat: no-repeat;
  margin-top: 5px;
  align-self: flex-end;

  &:hover {
    background-color: unset;
  }
}

.field-tooltip-text {
  font-size: .875rem;
  line-height: @font-lineheight-base;
  font-weight: @font-weight-regular;

  color: @dotcoza-color-neutrals-white;
  background-color: @dotcoza-color-title-grey;
  border-radius: 5px;

  max-width: 200px;
  padding: @spacing-02 @spacing-03;

  word-wrap: break-word;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  letter-spacing: normal;
  box-sizing: border-box;
  text-align: center;
  z-index: 100;
  position: absolute;

  &[data-hidden="true"] {
    visibility: hidden;
  }

  &[data-hidden="false"] {
    visibility: visible;
  }

  &::after {
    content: "";
    position: absolute;
    border-width: @tooltip-borderWidth;
    border-style: solid;
    border-color: @dotcoza-color-title-grey transparent transparent transparent;
  }

  &.top::after {
    top: 100%;
    left: calc(50% - @tooltip-borderWidth);
  }

  &.left::after {
    top: calc(50% - @tooltip-borderWidth);
    left: 100%;
    transform: rotate(-90deg);
  }

  &.right::before {
    top: calc(50% - @tooltip-borderWidth);
    left: calc(0% - 2*@tooltip-borderWidth);
    transform: rotate(90deg);
  }

  &.bottom::before {
    top: calc(0% - 2*@tooltip-borderWidth);
    left: calc(50% - @tooltip-borderWidth);
    transform: rotate(180deg);
  }
}

.form-select-wrapper {
  font-size: @font-size-base;
  font-family: @font-family-opensans-bold;
  font-weight: @font-weight-regular;
  color: @dotcoza-color-title-grey;
  position: relative;
  display: block;

  select {
    display:none; 
  }

  .form-select-display {
    border: 2px solid @dotcoza-color-greens-bright;
    padding: @input-padding;
    line-height: @font-lineheight-base;

    &:focus {
      border-color: @dotcoza-color-greens-darkgreen;
    }

    &::after {
      content: @down-arrow-icon;
      float: right;
      height: @font-lineheight-base;
    }
  }

  .form-select-dialog {
    display: none;
    position: absolute;
    border: 2px solid @dotcoza-color-greens-darkgreen;
    z-index: 1000;
    background-color: #fff;
    width: 100%;
    line-height: 0;
    box-sizing: border-box;
    border-top: 2px solid #eeeeee;

    > div {
      padding: 23px 8px 23px 16px;

      &:focus,
      &:hover {
        background-color: #f8f9fa;
      }

      &[selected] {
        display: none;
      }
    }
  }

  &[expanded] {
    .form-select-dialog {
      display: block;
    }

    .form-select-display {
      border: 2px solid @dotcoza-color-greens-darkgreen;
      border-bottom: unset;

      &::after {
        content: @up-arrow-icon;
      }
    }
  }
}

/** form specific style */

@media (@width_1441) {
  .repayments-calculator-section {
    form {
      .calculatorLayout();
    }
  }
}

.repayments-calculator-section {
  box-sizing: border-box;
  max-width: 1228px;
  border: 1px solid @calculator-outline-color;
  border-radius: 20px;
  padding: @spacing-09 0;
  margin: 0 auto @spacing-09;

  h3 {
    font-size: @font-size-large;
    line-height: @font-lineheight-large;
    padding-bottom: @spacing-09;
    margin-bottom: 0;
    font-family: @font-family-opensans-regular;
    color: @dotcoza-color-body-grey;
  }

  .default-content-wrapper p {
    width: 100%;
    color: @dotcoza-color-body-grey;
    font-family: @font-family-opensans-regular;
    font-size: @font-size-xsmall;
    letter-spacing: 0;
    line-height: @font-lineheight-base;
    display: block;
    margin-top: @spacing-09;
  }

  .Input {
    .field-wrapper {
      margin-bottom: 42px;
    }

    .form-radio-wrapper {
      margin-bottom: 0;
    }

    .fieldset-Add {
      &.loanFieldSet-Add::after {
        content: 'Add another loan'; 
      }

      &.extraCashFieldSet-Add::after {
        content: 'Get extra cash'; 
      }

      span {
        display: none;
      }
    }

    .form-extraCashDetails {
      legend {
        font-family: @font-family-primary;
        font-weight: @font-weight-bold;
      }

      p {
        .unset();
        color: @field-description-color;
        font-family: @font-family-secondary;
        font-size: @font-paragraph-small;
        line-height: @font-lineheight-small;
        padding-bottom: 24px;
      }
    }
  }

  .Output {
    margin-bottom: @spacing-06;
    border-radius: 10px;
    background-color: @test17;
    box-shadow: 0 25px 20px -15px rgb(0 0 0 / 10%);
    padding: @spacing-07 @spacing-08 @spacing-05 @spacing-08;
    display: grid;

    &.repayments-Output {
      grid-template-areas:
        "emi emi"
        "total total"
        "rate explore"
        "range range";
    }

    &.loanConsolidate-Output {
      grid-template-areas:
        "total total"
        "emi emi"
        "saving saving"
        "rate explore"
        "range range";
    }

    .field-wrapper {
      padding-bottom: @spacing-05;
    }

    label {
      padding-bottom: @spacing-05;
      margin-bottom: 0;
    }

    .form-exploreRate {
      flex-direction: row-reverse;
      justify-content: flex-end;
      grid-area: explore;
      align-self: end;

      label {
        .unset();
        cursor: pointer;
        color: @dotcoza-color-greens-default;
        font-family: @font-family-opensans-bold;
      }

      input[type="checkbox"] {
        border: none;
        .unset();
        appearance: none;
      }

      input[type="checkbox"]::after {
        content: @up-arrow-icon;
        font-size: @font-size-base;
        cursor: pointer;
        color: @dotcoza-color-greens-default;
        font-family: @font-family-opensans-bold;
        margin-left: @spacing-05;
        width: 24px;
        height: 24px;
      }

      input[type="checkbox"]:focus::after {
        box-shadow: 0 0 0 1px @dotcoza-color-greens-bright;
      }

      input[type="checkbox"]:checked::after {
        content: @down-arrow-icon;
        background: transparent;
      }
    }

    .form-emi {
      grid-area: emi;

      output {
        color: @green-color-1;
      }
    }

    .form-total {
      grid-area: total;
    }

    .form-rateDisplay {
      grid-area: rate;

      output {
        margin-bottom: 0;
      }
    }

    .form-rate {
      grid-area: range;
    }

    .form-saving {
      grid-area: saving;
    }
  }


  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: -15px;
    margin-left: -15px;
  }

  .form-button-wrapper {
    padding-left: 13px;
    padding-right: 0;
  }

  .buttons button {
    padding: 0.375rem 0.75rem;
  }

  .form-seeLoanDetails button {
    cursor: pointer;
    background-color: transparent;
    color: @dotcoza-color-greens-default;
  }

  .form-seeLoanDetails button::after {
    content: @diagonal-arrow-icon;
    transition: transform 900ms;
    display: inline-block;
    margin-left: @spacing-02;
    transform: translate(0, 4px) scale(0.7);
  }

  .form-seeLoanDetails button:hover::after {
    transform: scale(0.8) translate(6px, -5px);
  }

  .form-startLoanApplication button {
    background-color: @dotcoza-color-title-grey;
    color: @dotcoza-color-neutrals-white;
    border: 2px solid @dotcoza-color-title-grey;
  }
}

@media (@width_768) {
  .repayments-calculator-section {
    form {
      .calculatorLayout();
    }

    .Output {
      padding: @spacing-07 @spacing-06;
    }

    .buttons {
      flex-direction: column;
    }
  }
}

@media(@width_991) {
  .repayments-calculator-section {
    form {
      column-gap: 134px;
    }

    .Output {
      padding: @spacing-07 @spacing-08 @spacing-05 @spacing-08;
    }

    .buttons {
      flex-direction: row;
    }
  }
}