@plugin '../../less-scripts/autogen-comment-plugin';
autocomment();

@import (reference) "../../styles/mixin.less";
@import (reference) "../../styles/variables.less";

.section.columns-container {
  padding-left: 22px;
  padding-right: 22px;
}

.columns {
  >div {
    .flex(column);



    >div {
      .width-basis(1);
      box-sizing: border-box;
    }
  }

  img {
    width: 100%;
  }

  &.backdrop {
    background-color: #f9fbfb;

    h2 {
      font-size: 32px;
      line-height: 40px;
    }

    >div {
      flex-direction: column;
      align-items: flex-start;

      >div {
        >p {
          margin: 0;
          font-size: 20px;
          line-height: 28px;
        }
      }
    }
  }
}

.columns.lazy-river {
  >div {
    &:nth-child(odd) {
      .flex(column-reverse);
    }
  }
}

.columns.featured-article {
  padding: 64px;
  margin: auto;
}

.calc-example.columns-container {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 80px auto 80px auto;
  background-color: var(--background-color-grey);

  h2 {
    font-size: 16px;
    line-height: 29px;
    margin-top: 0;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    margin-top: 38px;
  }

  .columns.columns-4-cols {
    >div {
      .flex(row, wrap);

      >div:empty {
        display: none;
      }

      >div {
        .width-basis(2);
        padding: 15px 15px 15px 0;
        margin: unset;
        opacity: 0.87;
        color: #494f50;
        letter-spacing: 0;
        border-bottom: 1px solid #979797;
      }

      >div:nth-child(odd) {
        font-family: "Open Sans Bold";
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
      }

      >div:nth-child(even) {
        font-family: "Open Sans Regular";
        font-size: 14px;
        line-height: 19px;
      }
    }
  }
}

@media (@width_576) {
  .columns {
    &.columns-4-cols {
      >div {
        .flex(row, wrap);

        >div {
          .width-basis(2);
        }
      }
    }
  }

  .calc-example.columns-container {
    .columns.columns-4-cols {
      >div {
        border-bottom: 1px solid #979797;

        >div {
          .width-basis(4);
          border-bottom: none;
        }
      }
    }
  }
}

@media (@width_768) {
  .section.columns-container {
    padding-left: 106px;
    padding-right: 106px;
  }

  .columns {
    &.columns-2-cols {
      >div {
        .flex(row, nowrap);

        >div {
          .width-basis(2);
        }
      }
    }

    &.columns-4-cols {
      >div {
        .flex(row, nowrap);

        >div {
          .width-basis(4);
        }
      }
    }

    &.backdrop {
      margin-top: 100px;
      background-color: #f9fbfb;

      h2 {
        font-size: 32px;
        line-height: 40px;
      }

      >div {
        align-items: flex-start;

        >div {
          &:first-child {
            position: relative;
            top: -70px;
            left: -100px;
          }

          >p {
            margin: 0;
            font-size: 20px;
            line-height: 28px;
          }
        }
      }
    }
  }
}

@media (@width_900) {
  .columns {
    >div {
      flex-direction: unset;
      align-items: center;

      >div {
        flex: 1;
        margin: 16px;
      }
    }
  }

  .columns.lazy-river {
    >div {
      flex-direction: unset;

      &:nth-child(odd) {
        flex-direction: unset;
      }
    }
  }

  .columns.featured-article {
    >div {
      >div {
        padding: 60px;
      }
    }
  }
}