header nav {
  display: flex;
  justify-content: space-between;
  height: var(--nav-height);
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: var(--background-color);
  width: calc(100vw - (100vw - 100%));
  box-sizing: border-box;
  font-family: var(--body-font-family);
}
header nav * > li {
  list-style: none;
}
header nav a:any-link {
  color: currentcolor;
  text-decoration: none;
  margin: 0;
}
header nav .nav-brand {
  margin-left: 20px;
}
header nav .nav-hamburger {
  cursor: pointer;
  background: url('/icons/green-hamburger.svg');
  width: 56px;
  height: 56px;
  background-repeat: no-repeat;
}
header nav .nav-sections {
  flex-grow: 1;
  font-size: 14px;
}
header nav .nav-sections > ul > li.nav-drop {
  position: relative;
}
header nav .nav-sections > ul > li.nav-drop:first-child {
  font-family: 'Nedbank Sans Bold';
  font-size: 14px !important;
  padding-top: 4px;
}
header nav .nav-sections > ul > li {
  position: relative;
  font-size: 18px;
  margin: 0;
  cursor: pointer;
  padding-top: 0;
  padding-left: 12px;
  padding-right: 12px;
}
header nav .nav-sections > ul > li:not(:first-child) {
  display: none;
}
header nav .nav-sections > ul > li > a {
  pointer-events: none;
  text-decoration: none;
}
header nav .nav-sections > ul > li > a::after {
  opacity: 40%;
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
header nav .nav-sections > ul > li > p {
  margin: 0;
}
header nav .nav-sections > ul > li > ul {
  display: none;
  position: relative;
}
header nav .nav-sections > ul > li > ul:any-link {
  font-size: var(--body-font-size-m);
}
header nav .nav-sections > ul > li > ul > li {
  font-size: 18px;
  padding: 20px 0;
}
header nav .nav-sections > ul > li > ul > li:hover {
  background-color: #f1f6f5;
}
header nav .nav-sections > ul > li > ul > li:first-child {
  font-family: "Nedbank Sans Bold";
}
header nav .nav-sections > ul > li > ul > li:first-child:hover {
  background-color: var(--background-color);
}
header nav .nav-sections > ul > li[aria-expanded='true'] ul {
  margin: unset;
  display: block;
  position: absolute;
  width: 200px;
  left: 0;
  border-radius: 6px;
  background-color: var(--background-color);
  box-shadow: 3px 3px 16px 0 rgba(0, 0, 0, 0.12);
  border: 0;
}
header nav .nav-sections ul {
  display: flex;
  flex-direction: row;
  background-color: unset;
  margin: 0;
}
header nav .nav-tools {
  display: flex;
  font-size: 14px;
}
header nav .nav-tools p {
  margin: 0;
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-grow: 1;
}
header .nav-brand {
  grid-area: brand;
  font-size: 22px;
  font-weight: 700;
  line-height: 1em;
}
@media (min-width: 1025px) {
  header nav .nav-brand {
    flex-grow: 0;
  }
  header nav .nav-tools {
    flex-grow: 1;
  }
  header nav .nav-sections > ul > li:not(:first-child) {
    display: unset;
  }
  header nav .nav-drop::after {
    content: ' ';
    border: 1px solid currentolor;
    transform: rotate(135deg);
    border-width: 2px 2px 0 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 8px;
    right: 14px;
  }
}
@media (min-width: 1441px) {
  header nav .nav-brand {
    margin-left: 90px;
  }
  header nav .nav-sections {
    font-size: 18px;
  }
  header nav .nav-sections > ul > li {
    padding-left: 20px;
    padding-right: 20px;
  }
}
