header .nav-hamburger {
  cursor: pointer;
  background: url('/icons/green-hamburger.svg');
  width: 64px;
  height: 64px;
}
header * > li {
  list-style: none;
}
header primary-nav {
  display: none;
  background-color: #f2f9f5;
  height: var(--nav-height);
}
header primary-nav .nav-sections {
  flex-grow: 1;
  font-size: 14px;
  display: flex;
  margin-left: 40px;
  font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
  font-weight: 500;
}
header primary-nav .nav-sections > ul {
  display: flex;
  width: 100%;
  padding-inline-start: unset;
}
header primary-nav .nav-sections > ul > li {
  cursor: pointer;
  padding-right: 11px;
  display: flex;
  align-items: center;
}
header primary-nav .nav-sections > ul > li a {
  color: #17252e;
}
header primary-nav .nav-sections > ul > li a:hover {
  color: #008533;
}
header primary-nav .nav-sections > ul > li:first-child a {
  color: #008533;
}
header primary-nav .nav-brand {
  margin: 3px 20px 3px 91px;
}
header primary-nav .nav-brand span {
  position: fixed;
  top: 10px;
  z-index: 99;
}
header primary-nav .nav-tools {
  display: flex;
  flex-grow: 1;
  max-width: 195px;
  font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  position: relative;
  left: -70px;
  cursor: pointer;
}
header primary-nav .nav-tools > div {
  width: 100%;
  display: flex;
  color: #17252e;
  align-items: center;
}
header primary-nav .nav-tools > div > span {
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 5px;
}
header primary-nav .nav-tools > div > span:hover {
  color: #17252e;
}
header primary-nav .nav-tools > div:hover {
  color: #008533;
}
header primary-nav .nav-hamburger {
  position: fixed;
  z-index: 99;
  right: 0;
}
header secondary-nav {
  display: flex;
  justify-content: space-between;
  height: var(--nav-height);
  align-items: center;
  position: fixed;
  z-index: 1;
  background-color: var(--background-color);
  width: calc(100vw - (100vw - 100%));
  box-sizing: border-box;
  font-family: var(--body-font-family);
}
header secondary-nav a:any-link {
  color: currentcolor;
  text-decoration: none;
  margin: 0;
}
header secondary-nav .nav-brand {
  margin-left: 20px;
}
header secondary-nav .nav-sections {
  flex-grow: 1;
  font-size: 14px;
}
header secondary-nav .nav-sections > ul > li.nav-drop {
  position: relative;
}
header secondary-nav .nav-sections > ul > li.nav-drop:first-child {
  font-family: 'Nedbank Sans Bold';
  font-size: 14px !important;
  padding-top: 4px;
}
header secondary-nav .nav-sections > ul > li {
  position: relative;
  font-size: 18px;
  margin: 0;
  cursor: pointer;
  padding-top: 0;
  padding-left: 12px;
  padding-right: 12px;
}
header secondary-nav .nav-sections > ul > li:not(:first-child) {
  display: none;
}
header secondary-nav .nav-sections > ul > li > a {
  pointer-events: none;
  text-decoration: none;
}
header secondary-nav .nav-sections > ul > li > a::after {
  opacity: 40%;
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
header secondary-nav .nav-sections > ul > li > p {
  margin: 0;
}
header secondary-nav .nav-sections > ul > li > ul {
  display: none;
  position: relative;
}
header secondary-nav .nav-sections > ul > li > ul:any-link {
  font-size: var(--body-font-size-m);
}
header secondary-nav .nav-sections > ul > li > ul > li {
  font-size: 18px;
  padding: 20px 0;
}
header secondary-nav .nav-sections > ul > li > ul > li:hover {
  background-color: #f1f6f5;
}
header secondary-nav .nav-sections > ul > li > ul > li:first-child {
  font-family: "Nedbank Sans Bold";
}
header secondary-nav .nav-sections > ul > li > ul > li:first-child:hover {
  background-color: var(--background-color);
}
header secondary-nav .nav-sections > ul > li[aria-expanded='true'] ul {
  margin: unset;
  display: block;
  position: absolute;
  width: 200px;
  left: 0;
  border-radius: 6px;
  background-color: var(--background-color);
  box-shadow: 3px 3px 16px 0 rgba(0, 0, 0, 0.12);
  border: 0;
  margin-top: 17px;
}
header secondary-nav .nav-sections ul {
  display: flex;
  flex-direction: row;
  background-color: unset;
  margin: 0;
}
header secondary-nav .nav-tools {
  display: flex;
  font-size: 14px;
  cursor: pointer;
}
header secondary-nav .nav-tools img {
  padding: 0 10px;
}
header .nav-brand {
  grid-area: brand;
  font-size: 22px;
  font-weight: 700;
  line-height: 1em;
}
header .sticky {
  position: fixed;
  z-index: 10;
  top: 0;
}
@media (min-width: 1025px) {
  header primary-nav {
    display: flex;
  }
  header secondary-nav {
    padding-left: 160px;
    padding-right: 50px;
    display: flex;
    position: relative;
  }
  header secondary-nav .nav-brand {
    display: none;
    flex-grow: 0;
  }
  header secondary-nav .nav-tools {
    display: none;
    flex-grow: 1;
  }
  header secondary-nav .nav-tools.display-none {
    display: none;
  }
  header secondary-nav .nav-tools.display-flex {
    display: flex;
    justify-content: space-evenly;
  }
  header secondary-nav .nav-tools img {
    padding: unset;
  }
  header secondary-nav .nav-sections {
    flex-basis: 80%;
  }
  header secondary-nav .nav-sections > ul {
    padding-inline-start: unset;
  }
  header secondary-nav .nav-sections > ul > li {
    font-family: 'Libre Franklin', Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding-left: unset;
    padding-right: unset;
    margin-right: 24px;
    font-size: 16px;
  }
  header secondary-nav .nav-sections > ul > li[aria-expanded='false']::before {
    content: ' ';
    border: 2px solid transparent;
    display: block;
    transform: translateY(43px);
  }
  header secondary-nav .nav-sections > ul > li[aria-expanded='true']::before {
    content: ' ';
    border: 2px solid #008533;
    display: block;
    transform: translateY(43px);
  }
  header secondary-nav .nav-sections > ul > li:first-child {
    display: none;
  }
  header secondary-nav .nav-sections > ul > li:not(:first-child) {
    display: unset;
  }
  header secondary-nav .nav-sections > ul > li > a::after {
    margin-left: 0.5em;
  }
  header secondary-nav .nav-hamburger {
    display: none;
  }
  header secondary-nav .nav-drop::after {
    content: ' ';
    border: 1px solid currentolor;
    transform: rotate(135deg);
    border-width: 2px 2px 0 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 8px;
    right: 14px;
  }
}
