main .banner {
  display: flex;
  align-items: center;
}
main .banner p {
  margin: unset;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  font-family: "Open Sans Regular";
  letter-spacing: 0;
}
main .banner p > a {
  margin-left: 10px;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 24px;
  color: #008533;
  font-family: "Open Sans Semibold";
}
