main .hero>div {
    display: flex;
    flex-direction: row;
}

main .hero>div>* {
    flex: 1;
}

main .hero>div>div {
    padding: 50px;
}

@media (max-width: 900px) {
    main .hero>div {
        flex-direction: column-reverse;
    }
}