main .hero-container {
    padding-right: 0px;
}

main .hero>div {
    display: flex;
    flex-direction: row;
}

main .hero>div>* {
    flex: 1;
}

main .hero img {
    height: 100%;
}

@media (max-width: 900px) {
    main .hero>div {
        flex-direction: column-reverse;
    }
}