main .tabs {
  max-width: 100%;
}

main .tabs .tabs-title {
  position: relative;
}

main .tabs .tabs-title::after {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
  margin-left: 15px;
  border: solid var(--heading-color);
  border-width: 0 3px 3px 0;
  padding: 3px;
  content: '';
  transition: all .2s ease-in-out;
}

main .tabs .tabs-title[aria-selected="true"]::after {
  transform: rotate(45deg) translateY(-50%);
}

main .tabs .tabs-content[aria-hidden="true"] {
  display: none;
  visibility: hidden;
}

.integrations-listing .tabs-content {
	margin: 30px -30px;
	background: var(--color-gray-1);
	padding: 30px;
}

.integrations-listing .tabs > h2 {
	font-size: 27px;
	line-height: 46px;
}

.integrations-listing .table-wrapper.tabs-content h3,
.integrations-listing .table-wrapper.tabs-content p {
  margin: 0 0 30px;
}

.integrations-listing .table-wrapper.tabs-content p:not(:first-of-type) {
  margin-top: 30px;
}

.integrations-listing .table-wrapper.tabs-content h3:not(:first-of-type) {
  margin: 48px 0 30px;
}

@media (max-width: 599px) {
  main .tabs .tabs-title {
    cursor: pointer;
  }
}

@media (min-width: 600px) {
  main .tabs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .integrations-listing main .tabs {
    justify-content: flex-start;
  }

  main .tabs .tabs-title {
    order: 1;
    margin: 0;
    border-bottom: 4px solid transparent;
    padding-bottom: 20px;
  }

  .integrations-listing main .tabs .tabs-title:not(:last-child) {
    margin-right: 40px;
  }

  main .tabs .tabs-title[aria-selected="false"] {
    color: var(--color-gray-5);
    cursor: pointer;
  }

  main .tabs .tabs-title[aria-selected="true"] {
    border-color: var(--theme-base);
  }

  .integrations-listing .tabs .tabs-title[aria-selected="true"] {
    border-color: var(--theme-shade5);
  }

	.integrations-listing .tabs-content {
		margin: 40px 0;
		background: none;
		padding: 0;
	}

  main .tabs .tabs-title::after {
    border: 0;
  }

  main .tabs .tabs-content {
    order: 2;
    width: 100%;
  }
}

@media (min-width: 1000px) {
  main .tabs {
    justify-content: unset;
  }

  main .tabs .tabs-title:not(:last-child) {
    margin-right: 40px;
  }
}

/* resets for style 1/2/3 */
main .tabs.style-1 *,
main .tabs.style-1 *::before,
main .tabs.style-1 *::after,
main .tabs.style-2 *,
main .tabs.style-2 *::before,
main .tabs.style-2 *::after,
main .tabs.style-3 *,
main .tabs.style-3 *::before,
main .tabs.style-3 *::after {
  box-sizing: border-box;
}

/* Style 1 - checkbox */
main .tabs.style-1 {
  /* 60px based on main .section > div selector from styles.css */
  --tab-width: calc(100vw - 60px);

  column-gap: 2.5rem;
  display: grid;
}

@media (max-width: 1024px) {
  main .tabs.style-1 {
    grid-template-rows: auto !important;
    margin-bottom: 2rem;
    overflow-x: scroll;
    row-gap: 1.25rem;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
}

@media (min-width: 1025px) {
  main .tabs.style-1 {
    grid-template-columns: 1fr 60%;
    row-gap: 2.5rem;
  }
}

main .tabs.style-1 .tabs-title {
  --padding: .5rem;

  align-items: center;
  border: 0;
  color: var(--color-gray-9);
  column-gap: 1.5rem;
  display: flex;
  font-family: var(--heading-font-family);
  font-size: 1.25rem;
  font-weight: 600;
  grid-column: 1;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  transition: color .3s ease-in-out;
}

@media (max-width: 1024px) {
  main .tabs.style-1 .tabs-title {
    align-items: start;
    grid-column: revert;
    grid-row: 1;
    padding-top: var(--padding);
    width: var(--tab-width);
  }
}

main .tabs.style-1 .tabs-title[aria-selected="true"] {
  color: var(--color-gray-12);
}

main .tabs.style-1 .tabs-title::before {
  background: var(--theme-shade5) url('../../styles/checkmark.svg') 50% no-repeat;
  border-radius: 50%;
  content: '';
  flex-shrink: 0;
  height: 2.5rem;
  overflow: hidden;
  transition: background-color .3s ease-in-out;
  width: 2.5rem;
}

@media (max-width: 1024px) {
  main .tabs.style-1 .tabs-title::before {
    margin-top: calc(var(--padding) * -1);
  }
}

main .tabs.style-1 .tabs-title::after {
  content: none;
}

@media (max-width: 1024px) {
  main .tabs.style-1 .tabs-title::before {
    background-color: var(--theme-base);
  }
}

main .tabs.style-1 .tabs-title[aria-selected="true"]::before {
  background-color: var(--theme-base);
}

main .tabs.style-1 .tabs-content {
  grid-column: revert;
  grid-row: 2;
}

@media (max-width: 1024px) {
  main .tabs.style-1 .tabs-content {
    display: revert;
    scroll-snap-align: start;
    visibility: revert;
    width: var(--tab-width);
  }
}

@media (min-width: 1025px) {
  main .tabs.style-1 .tabs-content {
    grid-column: 2;
    grid-row: 1 / -1;
  }
}

/* Style 2 - heading/sub-heading */
main .tabs.style-2 {
  /* 60px based on main .section > div selector from styles.css */
  --tab-width: calc(100vw - 60px);

  column-gap: 2.5rem;
  display: grid;
}

@media (max-width: 1024px) {
  main .tabs.style-2 {
    grid-template-rows: auto !important;
    margin-bottom: 2rem;
    overflow-x: scroll;
    row-gap: 1.875rem;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
}

@media (min-width: 1025px) {
  main .tabs.style-2 {
    column-gap: 7.5rem;
    grid-template-columns: 1fr 60%;
  }
}

main .tabs.style-2 .tabs-title {
  --padding: 2rem;
  --background: 255 255 255;/* white in rgb */

  background-color: rgb(var(--background) / 0%);
  border-radius: 1rem;
  border-width: 0;
  box-shadow: var(--box-shadow-transition-default);
  display: block;
  grid-column: 1;
  overflow: hidden;
  padding: var(--padding);
  transition-duration: .3s;
  transition-property: background-color, box-shadow;
  transition-timing-function: ease-in-out;
}

@media (max-width: 1024px) {
  main .tabs.style-2 .tabs-title {
    background-color: rgb(var(--background) / 100%);
    box-shadow: var(--theme-shadow2-shade5);
    grid-column: revert;
    grid-row: 1;
    width: var(--tab-width);
  }
}

main .tabs.style-2 .tabs-title::after {
  content: none;
}

main .tabs.style-2 .tabs-title[aria-selected="true"] {
  background-color: rgb(var(--background) / 100%);
  box-shadow: var(--theme-shadow2-shade5);
}

main .tabs.style-2 .tabs-title .tabs-title-title {
  font-family: var(--heading-font-family);
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-gray-6);
  margin: 0;
  transition: color .25s ease-in-out;
}

@media (max-width: 1024px) {
  main .tabs.style-2 .tabs-title .tabs-title-title {
    color: var(--theme-shade5);
  }
}

main .tabs.style-2 .tabs-title[aria-selected="true"] .tabs-title-title {
  color: var(--theme-shade5);
}

main .tabs.style-2 .tabs-title .tabs-title-subtitle {
  color: var(--color-gray-6);
  font-family: var(--body-font-family);
  font-size: 1.125rem;
  font-weight: 400;
  margin: 0;
  transition: color .25s ease-in-out;
}

@media (max-width: 1024px) {
  main .tabs.style-2 .tabs-title .tabs-title-subtitle {
    color: var(--theme-shade15);
  }
}

main .tabs.style-2 .tabs-title[aria-selected="true"] .tabs-title-subtitle {
  color: var(--theme-shade15);
  vertical-align: middle;
}

main .tabs.style-2 .tabs-title .tabs-title-subtitle::after {
  background: currentcolor;
  content: '';
  display: inline-block;
  flex-shrink: 0;
  height: .8125rem;
  margin-left: .5rem;
  mask-image: url('../../styles/caret-right.svg');
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-mask-image: url('../../styles/caret-right.svg');
  opacity: 0;
  transition-duration: .25s;
  transition-property: background-color, opacity;
  transition-timing-function: ease-in-out;
  vertical-align: middle;/* TODO: replace with flex on button? */
  width: .5rem;
}

@media (max-width: 1024px) {
  main .tabs.style-2 .tabs-title .tabs-title-subtitle::after {
    opacity: 1;
  }
}

main .tabs.style-2 .tabs-title[aria-selected="true"] .tabs-title-subtitle::after {
  opacity: 1;
}

main .tabs.style-2 .tabs-content {
  grid-column: revert;
  grid-row: 2;
}

@media (max-width: 1024px) {
  main .tabs.style-2 .tabs-content {
    display: revert;
    scroll-snap-align: start;
    visibility: revert;
    width: var(--tab-width);
  }
}

@media (min-width: 1025px) {
  main .tabs.style-2 .tabs-content {
    grid-column: 2;
    grid-row: 1 / -1;
  }
}

/* Style 3 - accordion */
main .tabs.style-3 {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  row-gap: .5rem;
}

@media (min-width: 1025px) {
  main .tabs.style-3 {
    max-width: 80%;
  }
}

main .tabs.style-3 > .accordion {
  --gap: .25rem;
  --padding: 1rem;

  background: var(--color-white);
  border-radius: 1rem;
  box-shadow: var(--theme-shadow2-shade5);
}

@media (min-width: 600px) {
  main .tabs.style-3 > .accordion {
    --gap: 1.25rem;
    --padding: 1.5rem;
  }
}

main .tabs.style-3 > .accordion .tabs-title {
  align-items: center;
  border: 0;
  color: var(--color-gray-10);
  column-gap: 2rem;
  cursor: pointer;
  display: flex;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  justify-content: space-between;
  line-height: 1.4;
  margin: 0;
  min-height: 5.5rem;
  padding: var(--padding);
}

@media (min-width: 600px) {
  main .tabs.style-3 > .accordion .tabs-title {
    min-height: auto;
  }
}

main .tabs.style-3 > .accordion .tabs-title::after {
  --caret-size: .75rem;
  --border-width: .1875rem;

  border-color: var(--color-gray-5);
  border-style: solid;
  border-width: 0 var(--border-width) var(--border-width) 0;
  flex-shrink: 0;
  height: var(--caret-size);
  margin: 0;
  padding: 0;
  position: static;
  transform: rotate(45deg);
  width: var(--caret-size);
}

main .tabs.style-3 > .accordion .tabs-title[aria-selected="true"]::after {
  transform: rotate(-135deg);
}

main .tabs.style-3 > .accordion .tabs-content {
  color: var(--color-gray-9);
  font-family: var(--display-font-family);
  margin-top: calc(var(--padding) * -1.75);
  padding: var(--padding);
}

@media (min-width: 1025px) {
  main .tabs.style-3 > .accordion .tabs-content {
  margin-top: calc(var(--padding) * -1);
  }
}

main .tabs.style-3 > .accordion .tabs-content[aria-hidden="false"] {
  display: flex;
  row-gap: var(--padding);
}

main .tabs.style-3 > .accordion .tabs-content p {
  margin: 0;
}

/* Dots */
main .tabs-wrapper {
  position: relative;
}

main .tabs-dots {
  column-gap: .875rem;
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  top: 100%;
  right: 0;
}

@media (min-width: 1025px) {
  main .tabs-dots {
    display: none;
  }
}

main .tabs-dots .tabs-dots-dot {
  padding: .5rem;
}

main .tabs-dots .tabs-dots-dot::before {
  background-color: var(--theme-shade5);
  border-radius: 50%;
  content: '';
  display: block;
  height: 1rem;
  overflow: hidden;
  transition: background-color .3s ease-in-out;
  width: 1rem;
}

main .tabs-dots .tabs-dots-dot[aria-selected="true"]::before {
  background-color: var(--theme-base);
}

/* TODO: temp to be removed? */
main .section > .tabs-wrapper {
    max-width: 1160px;
}

/* TODO: remove, just to show styles with white BG */
main .section.temp-bg {
    background-color: var(--color-gray-1);
    padding: .1rem 0 3rem;
}
