@import (reference) "./hero-home_variables.less";

main {
	.section.hero-home-container {
		padding: 0;
		box-sizing: border-box;
	}

	.hero-home {
		position: relative;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: right center;

		img {
			width: 100vw;
		}

		>div {
			>div {
				>p {
					&:first-child {
						margin: 0px;
					}
					&:last-child {
						display: none;
						position: absolute;
					}
				}
				>h1 {
					margin: 0;
					padding: 24px 18px 40px 18px;
					height: auto;
					box-sizing: border-box;
				}
			}
		}
	}
	@media (@width_768) {
		.hero-home {
			>div {
				>div {
					>h1 {
						color: @color_1;
						font-size: 40px;
						line-height: 48px;
						max-width: 50%;
						position: absolute;
						top: 0px;
						left: 0px;
						padding: 64px 0 0 22px;
					}
				}
			}
		}
	}
	@media (@width_1025) {
		main {
			.hero-home {
				img {
					width: 100vw;
					min-height: 500px;
				}
			}
		}
		.hero-home {
			>div {
				>div {
					>h1 {
						padding: 98px 0 0 105px;
						font-size: 64px;
						line-height: 72px;
					}
				}
			}
		}
	}
}