footer {
  font-size: var(--body-font-size-s);
}
footer .section {
  border-top: 1px solid #e5edec;
}
footer .section p,
footer .section ul,
footer .section h2,
footer .section h5 {
  padding-left: 20px;
}
footer .footer-social h2 {
  padding-left: 20px;
}
footer .footer-social-items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
footer .footer-social-items .icon {
  margin-right: 24px;
  opacity: 0.5;
}
footer .footer-social-items p {
  margin-block-start: 0px;
  font-size: 14px;
  color: #494f50;
}
footer .footer-link-groups {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer .footer-link-group h5 {
  border: 1px solid #e5edec;
  margin: unset;
  padding: 20px 0 20px 20px;
}
footer .footer-link-group h5 > span.icon {
  float: right;
  padding-right: 20px;
}
footer .footer-link-group h5 > span.icon.icon {
  display: none;
}
footer .footer-link-group h5 > span.icon.icon.appear {
  display: block;
}
footer .footer-link-group > ul {
  margin: unset;
  list-style: none;
  max-height: 0;
  background-color: #fafafa;
  transition: all ease-in-out 0.5s;
  overflow: hidden;
}
footer .footer-link-group > ul.appear {
  max-height: 300px;
}
footer .footer-link-group > ul > li {
  line-height: 22px;
}
footer .footer-link-group > ul > li:first-child {
  padding-top: 40px;
}
footer .footer-link-group > ul > li:last-child {
  padding-bottom: 20px;
}
footer .footer-link-group > ul > li > a {
  color: #494f50;
  font-family: "Open Sans Regular";
  font-size: 14px;
  letter-spacing: 0;
  margin: unset;
}
footer .icon-nedbank-caps svg {
  width: 100px;
}
@media (min-width: 991px) {
  footer .section .default-content-wrapper {
    padding: 0 90px;
  }
  footer .footer-social-items {
    flex-direction: row;
  }
  footer .footer-social-items > p {
    max-width: 75%;
    font-size: 16px;
  }
  footer .footer-social-items .icon {
    margin-right: 10px;
  }
  footer .footer-links {
    background-color: #fafafa;
  }
  footer .footer-links .footer-link-groups {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 11%;
  }
  footer .footer-links .footer-link-groups .footer-link-group {
    padding-left: 20px;
  }
  footer .footer-links .footer-link-groups .footer-link-group h5 {
    border: none;
    padding: 56px 0 0;
  }
  footer .footer-links .footer-link-groups .footer-link-group h5 > span.icon {
    display: none;
  }
  footer .footer-links .footer-link-groups .footer-link-group h5 > span.icon.appear {
    display: none;
  }
  footer .footer-links .footer-link-groups .footer-link-group > ul {
    max-height: unset;
    display: block;
    background-color: unset;
    padding: 40px 0 20px;
    transition: none;
  }
  footer .footer-links .footer-link-groups .footer-link-group > ul > li {
    line-height: 24px;
    padding: unset;
  }
  footer .footer-links .footer-link-groups .footer-link-group > ul > li > a {
    font-size: 16px;
  }
}
