footer {
  font-size: var(--body-font-size-s);
}

footer .default-content-wrapper {
  margin-left: 80px;
}

footer .footer-links {
  background-color: var(--overlay-background-color);
}


footer .footer-social-items {
  display: flex;
  justify-content: space-between;
}

footer .footer-link-groups {
  display: flex;
}

footer .footer-link-group {
  padding: 0px 30px
}

footer .footer-social>.default-content-wrapper {
  max-width: 1500px;
}