footer {
  font-size: var(--body-font-size-s);
}

footer .default-content-wrapper {
  margin-left: 80px;
}

footer .footer-links {
  background-color: #f8fbfa;
}


footer .footer-social-items {
  display: flex;
  justify-content: space-between;
}

footer .footer-link-groups {
  display: flex;
  justify-content: space-evenly;
}

footer .footer-link-group {
  padding: 0px 30px
}

footer .footer-link-group h3 {
  color: #17252e;
  font-family: "Nedbank Sans Medium";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 26px;
  margin: 60px 0 0 0;
}

footer .footer-link-group>ul {
  list-style: none;
  padding-inline-start: unset;
}

footer .footer-link-group>ul>li>a {
  color: #494f50;
  font-family: "Open Sans Regular";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 32px;
}

footer .footer-social>.default-content-wrapper {
  max-width: 1500px;
}