@import (reference) "./footer_variables.less";

footer {
	font-size: var(--body-font-size-s);

	.section {
		border-top: 1px solid #e5edec;

		p,
		ul,
		h2,
		h5 {
			padding-left: 20px;
		}
	}

	.footer-social h2 {
		padding-left: 20px;
	}

	.footer-social-items {
		display: flex;
		justify-content: space-between;
		flex-direction: column;

		.icon {
			margin-right: 24px;
			opacity: 0.5;
		}

		p {
			margin-block-start: 0px;
			font-size: @font-size-small;
			color: @color_2
		}
	}

	.footer-link-groups {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.footer-link-group {
		h5 {
			border: 1px solid #e5edec;
			margin: unset;
			padding: 20px 0 20px 20px;

			>span.icon {
				float: right;
				padding-right: 20px;

				&.icon {
					display: none;

					&.appear {
						display: block;
					}
				}
			}
		}

		>ul {
			margin: unset;
			list-style: none;
			max-height: 0;
			background-color: @dotcoza-color-neutrals-grey-background;
			transition: all ease-in-out .5s;
			overflow: hidden;

			&.appear {
				max-height: 300px;
			}

			>li {
				line-height: @font-lineheight-small;

				&:first-child {
					padding-top: 40px;
				}

				&:last-child {
					padding-bottom: 20px;
				}

				>a {
					color: @color_2;
					font-family: @font_family_2;
					font-size: @font-size-small;
					letter-spacing: 0;
					margin: unset;
				}
			}
		}
	}

	.icon-nedbank-caps {
		svg {
			width: 100px;
		}
	}
}

@media (@width_991) {
	footer {
		.section {
			.default-content-wrapper {
				padding: 0 90px;
			}
		}

		.footer-social-items {
			flex-direction: row;

			>p {
				max-width: 75%;
				font-size: @font-size-base;
			}

			.icon {
				margin-right: 10px;
			}
		}

		.footer-links {
			background-color: @dotcoza-color-neutrals-grey-background;

			.footer-link-groups {
				display: flex;
				justify-content: flex-start;
				flex-direction: row;
				column-gap: 11%;

				.footer-link-group {
					padding-left: 20px;

					h5 {
						border: none;
						padding: 56px 0 0;
						//Do not display up and down arrow icons at all for wide screens
						>span.icon {
							display: none;

							&.appear {
								display: none;
							}
						}
					}

					>ul {
						max-height: unset;
						display: block;
						background-color: unset;
						padding: 40px 0 20px;
						transition: none;

						>li {
							line-height: @font-lineheight-base;
							padding: unset;

							>a {
								font-size: @font-size-base;
							}
						}
					}
				}
			}
		}
	}
}