footer {
  font-size: var(--body-font-size-s);
}
footer .section {
  padding: 10px;
}
footer .footer-awareness {
  padding: 25px 20px 0 20px;
  border-top: 1px solid #e5edec;
}
footer .footer-awareness p {
  margin: 0;
}
footer .footer-links {
  background-color: #f8fbfa;
}
footer .footer-social-items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
footer .footer-social-items .icon {
  margin-right: 24px;
}
footer .footer-link-groups {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
footer .footer-link-group h3 {
  color: #17252e;
  font-family: "Nedbank Sans Medium";
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 26px;
  margin: 60px 0 0 0;
}
footer .footer-link-group > ul {
  list-style: none;
  padding-inline-start: unset;
}
footer .footer-link-group > ul > li > a {
  color: #494f50;
  font-family: "Open Sans Regular";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 32px;
}
@media (min-width: 991px) {
  footer .footer-awareness {
    padding: 24px 105px;
  }
  footer .footer-social-items {
    flex-direction: row;
  }
  footer .footer-social-items > p {
    max-width: 75%;
  }
  footer .footer-social-items .icon {
    margin-right: 10px;
  }
  footer .section {
    padding-left: var(--section-left-right-padding);
    padding-right: var(--section-left-right-padding);
  }
  footer .footer-link-groups {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
