footer {
  font-size: var(--body-font-size-s);
}

footer .default-content-wrapper {
  margin-left: 80px;
}

footer .footer-links {
  background-color: var(--overlay-background-color);
}

footer .footer-link-groups,
footer .footer-social-items {
  display: flex;
  justify-content: space-between;
}

footer .footer-social-items .default-content-wrapper {
  max-width: 1500px;
}