/* below the fold CSS goes here */

@font-face{font-family:"Nedbank Sans Regular";src:url("/styles/fonts/NedbankSans-Regular.otf"),url("/styles/fonts/NedbankSans-Regular.woff")}
@font-face{font-family:"Nedbank Sans RegularItalic";src:url("/styles/fonts/NedbankSans-RegularItalic.otf")}
@font-face{font-family:"Nedbank Sans Black";src:url("/styles/fonts/NedbankSans-Black.otf")}
@font-face{font-family:"Nedbank Sans BlackItalic";src:url("/styles/fonts/NedbankSans-BlackItalic.otf")}
@font-face{font-family:"Nedbank Sans Bold";src:url("/styles/fonts/NedbankSans-Bold.otf"),url("/styles/fonts/NedbankSans-Bold.woff")}
@font-face{font-family:"Nedbank Sans BoldItalic";src:url("/styles/fonts/NedbankSans-BoldItalic.otf")}
@font-face{font-family:"Nedbank Sans Heavy";src:url("/styles/fonts/NedbankSans-Heavy.otf")}
@font-face{font-family:"Nedbank Sans HeavyItalic";src:url("/styles/fonts/NedbankSans-HeavyItalic.otf")}
@font-face{font-family:"Nedbank Sans Light";src:url("/styles/fonts/NedbankSans-Light.otf")}
@font-face{font-family:"Nedbank Sans LightItalic";src:url("/styles/fonts/NedbankSans-LightItalic.otf")}
@font-face{font-family:"Nedbank Sans Medium";src:url("/styles/fonts/NedbankSans-Medium.otf"),url("/styles/fonts/NedbankSans-Medium.woff")}
@font-face{font-family:"Nedbank Sans MediumItalic";src:url("/styles/fonts/NedbankSans-MediumItalic.otf")}
@font-face{font-family:"Open Sans Light";src:url("/styles/fonts/OpenSans-Light.ttf")}
@font-face{font-family:"Open Sans LightItalic";src:url("/styles/fonts/OpenSans-LightItalic.ttf")}
@font-face{font-family:"Open Sans Bold";src:url("/styles/fonts/OpenSans-Bold.ttf")}
@font-face{font-family:"Open Sans BoldItalic";src:url("/styles/fonts/OpenSans-BoldItalic.ttf")}
@font-face{font-family:"Open Sans ExtraBold";src:url("/styles/fonts/OpenSans-ExtraBold.ttf")}
@font-face{font-family:"Open Sans ExtraBoldItalic";src:url("/styles/fonts/OpenSans-ExtraBoldItalic.ttf")}
@font-face{font-family:"Open Sans Italic";src:url("/styles/fonts/OpenSans-Italic.ttf")}
@font-face{font-family:"Open Sans Regular";src:url("/styles/fonts/OpenSans-Regular.ttf")}
@font-face{font-family:"Open Sans SemiBold";src:url("/styles/fonts/OpenSans-SemiBold.ttf")}
@font-face{font-family:"Open Sans SemiBoldItalic";src:url("/styles/fonts/OpenSans-SemiBoldItalic.ttf")}
