@font-face {
  font-family: "Open Sans-fallback";
  size-adjust: 105.41%;
  ascent-override: 105%;
  src: local("Arial");
}
:root {
  --link-color: #008533;
  --link-hover-color: #008533;
  --background-color: #ffffff;
  --background-color-grey: #f9fbfb;
  --background-color-black: #000000;
  --overlay-background-color: #f2f9f5;
  --highlight-background-color: #008533;
  --text-color: #17252e;
  --heading-text-color: #17252e;
  --body-font-family: 'Open Sans Regular', 'Open Sans-fallback';
  --heading-font-family: 'Nedbank Sans Bold', 'Open Sans-fallback';
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --heading-font-size-xxl: 32px;
  --heading-font-size-xl: 24px;
  --heading-font-size-l: 22px;
  --heading-font-size-m: 20px;
  --heading-font-size-s: 28px;
  --heading-font-size-xs: 16px;
  --nav-height: 64px;
  --banner-height: 100px;
  --section-left-right-padding: 105px;
}
:root .light {
  --background-color: #ffffff;
  --background-color-banner: #fafafa;
  --highlight-background-color: #008533;
  --text-color: #17252e;
  --heading-text-color: #17252e;
}
:root .dark {
  --background-color: #000000;
  --background-color-banner: #494f50;
  --highlight-background-color: #008533;
  --text-color: #ffffff;
  --heading-text-color: #ffffff;
}
body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}
body.appear {
  display: unset;
}
header {
  height: var(--nav-height);
}
h1 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
  font-family: var(--heading-font-family);
  color: var(--heading-text-color);
  font-size: var(--heading-font-size-xxl);
}
h2 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
  font-family: var(--heading-font-family);
  color: var(--heading-text-color);
  font-size: var(--heading-font-size-xl);
}
h3 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
  font-family: var(--heading-font-family);
  color: var(--heading-text-color);
  font-size: var(--heading-font-size-l);
}
h4 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
  font-family: var(--heading-font-family);
  color: var(--heading-text-color);
  font-size: var(--heading-font-size-m);
}
h5 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
  font-family: var(--heading-font-family);
  color: var(--heading-text-color);
  font-size: var(--heading-font-size-s);
}
h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
  font-family: var(--heading-font-family);
  color: var(--heading-text-color);
  font-size: var(--heading-font-size-xs);
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
dl {
  margin-top: 1em;
  margin-bottom: 1em;
}
ol {
  margin-top: 1em;
  margin-bottom: 1em;
}
ul {
  margin-top: 1em;
  margin-bottom: 1em;
}
pre {
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
  overflow: scroll;
}
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}
code {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
  padding: 0.125em;
}
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
  padding: 0.125em;
}
input[type=radio] {
  border: 0px;
  transform: scale(1.5);
}
.grey {
  background-color: var(--background-color-grey);
}
.black {
  background-color: var(--background-color-black);
}
a.button:any-link {
  font-family: var(--font-family-body);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
}
a.button:hover {
  background-color: var(--link-hover-color);
  cursor: pointer;
}
a.button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}
button {
  font-family: var(--font-family-body);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 5px;
}
button:hover {
  background-color: var(--link-hover-color);
  cursor: pointer;
}
button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}
button:disabled {
  background-color: var(--overlay-background-color);
  cursor: unset;
}
button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}
a.button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}
main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}
main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}
main blockquote p::before {
  content: "“";
  line-height: 0;
}
main blockquote p::after {
  content: "”";
  line-height: 0;
}
main img {
  max-width: 100%;
  height: auto;
}
main .section[data-section-status='loading'] {
  display: none;
}
main .section[data-section-status='initialized'] {
  display: none;
}
main .section {
  background-color: var(--background-color);
}
main .section.shaded-background {
  background-color: var(--overlay-background-color);
}
main .section.highlight {
  background-color: var(--highlight-background-color);
  color: white;
  text-align: center;
}
main .section.highlight .default-content-wrapper a.button {
  background-color: var(--background-color);
  color: var(--link-color);
}
main .section.overlay {
  background-color: var(--overlay-background-color);
}
main .section.breadcrumb {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.08);
  height: 75px;
  display: flex;
}
main .section.cards-container li {
  padding: 20px;
}
main .section.steps-container li {
  padding: 20px;
}
main .section.disclaimer {
  font-family: "Open Sans Regular";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 24px;
}
main .section.readytoapply {
  background-color: #17252e;
  display: flex;
  justify-content: center;
}
main .section.readytoapply h2 {
  color: var(--background-color);
}
main .section.readytoapply > .default-content-wrapper {
  text-align: center;
}
main .section.calc-example {
  padding: 10px;
}
main .section.calc-example .columns.block > div {
  border-bottom: 1px solid #979797;
}
main .legal-content .columns > div > div:nth-child(1) {
  margin: unset;
  opacity: 0.87;
  color: #494f50;
  font-family: "Open Sans Bold";
  font-weight: normal;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 18px;
  padding-left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
main .legal-content .columns > div > div:nth-child(3) {
  margin: unset;
  opacity: 0.87;
  color: #494f50;
  font-family: "Open Sans Bold";
  font-weight: normal;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 18px;
  padding-left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
main .legal-content .columns > div > div:nth-child(2) {
  margin: unset;
  opacity: 0.87;
  color: #494f50;
  font-family: "Open Sans Regular";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
  padding-left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
main .legal-content .columns > div > div:nth-child(4) {
  margin: unset;
  opacity: 0.87;
  color: #494f50;
  font-family: "Open Sans Regular";
  font-size: 14px;
  letter-spacing: 0;
  line-height: 19px;
  padding-left: 0;
  padding-top: 15px;
  padding-bottom: 15px;
}
main .legal-content h2 {
  font-size: 16px;
  line-height: 29px;
  color: #17252e;
  font-family: "Open Sans Bold";
  letter-spacing: 0;
}
main .legal-content p {
  color: #494f50;
  font-family: "Open Sans Regular";
  font-size: 16px;
  letter-spacing: 0;
  line-height: 24px;
}
main .banner-placeholder {
  height: var(--banner-height);
  display: flex;
  background-color: #fafafa;
  box-sizing: border-box;
  padding: 16px 2rem;
}
main .banner {
  margin-top: auto;
  margin-bottom: auto;
}
hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}
@media (min-width: 768px) {
  :root {
    --heading-font-size-xxl: 48px;
    --heading-font-size-xl: 40px;
    --heading-font-size-l: 32px;
    --heading-font-size-m: 22px;
    --heading-font-size-s: 22px;
    --heading-font-size-xs: 20px;
    --banner-height: 64px;
  }
  main .section {
    padding-left: var(--section-left-right-padding);
    padding-right: var(--section-left-right-padding);
  }
  main .section.cards-container {
    margin: auto;
    text-align: center;
    padding-bottom: 100px;
  }
  main .section.cards-container li {
    padding: 20px;
  }
  main .section.steps-container {
    margin: auto;
    padding: 64px;
    text-align: center;
  }
  main .section.steps-container li {
    padding: 20px;
  }
  main .section.calc-example {
    padding: 20px 106px;
  }
}
