.steps>ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: var(--body-font-size-xs);
  text-align: center;
}

.steps.large>ul {
  margin-top: 64px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  text-align: left;
}

.steps>ul>li>.steps-step {
  height: 105.5px;
  width: 105.5px;
  box-sizing: border-box;
  width: 105.5px;
  border: 1.5px solid #78be20;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  margin: auto;
}

.steps>ul>li>.steps-step>p {
  font-size: 20px;
  line-height: 5;
  color: #17252e;
  font-family: "Nedbank Sans Medium";
  font-weight: 500;
  letter-spacing: -0.2px;
  text-align: center;
  margin: auto;
}

.steps>ul>li>.steps-body {
  border: 1px solid var(--overlay-background-color);
  border-radius: 10px;
  transition: all 0.5 ease-out;
  box-shadow: 1px 1px 5px #00000020;
  background-color: white;
  color: black;
  font-size: var(--body-font-size-s);
}

.steps.no-border>ul>li.steps-body {
  border: unset;
  border-radius: unset;
  transition: none;
  box-shadow: unset;
}

.steps.no-border .steps-image {
  text-align: left;
}

.steps.large>ul>li>.steps-body {
  padding: 32px;
}

.steps>ul>li>.steps-body:hover {
  box-shadow: 2px 2px 10px #00000040;
  transform: translate(-1px, -1px)
}


.steps.muted>ul>li>.steps-body,
.steps.muted>ul>li>.steps-body:hover {
  box-shadow: unset;
  transform: unset;
  text-align: left;
}

.steps h3 {
  font-size: var(--heading-font-size-s);
}

.steps .steps-body {
  margin: 16px;
}

.steps>ul>li>.steps-body img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.steps a.button {
  color: var(--link-color);
  background-color: unset;
  padding: 0;
  margin: 0;
  font-family: var(--heading-font-family);
}

.steps a.button::after {
  margin-left: 8px;
  background-position: 0 4px;
  content: '';
  display: inline-block;
  width: 2em;
  height: 1em;
  background-repeat: no-repeat;
  background-image: url('/icons/arrow.svg');
  transition: margin 0.3s;
}

.steps a.button:hover::after {
  margin-left: 16px;
}

.steps .button-container {
  margin: 0;
}