.calculator-container {
    padding: 64px;
}

.calculator {
    display: flex;
}

.calculator .green {
    color: #5fa317;
}

.calculator .left-panel {
    flex: 1;
    padding: 20px;
}

.calculator .right-panel {
    flex: 1;
    padding: 20px;
}

.calculator input[type=text] {
    border-color: var(--link-color);
    padding-left: 23px;
    border-radius: 0;
    font-size: unset;
    line-height: 24px;
    font-family: "Open Sans Semibold";
    color: #17252e;
    border: 2px solid #bbb;
    background-color: transparent;
    height: 56px;
    display: block;
    width: 50%;
}

.calculator .text-muted {
    font-family: "Open Sans Regular";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 22px;
    margin-top: 8px;
    color: #565c5d !important;
}

.calculator .result-panel {
    padding: 32px 42px 16px 42px;
    margin-bottom: 42px;
    border-radius: 10px;
    background-color: #f9fbfb;
    box-shadow: 0 25px 20px -15px rgba(0, 0, 0, 0.1);
}

.calculator .calulated-value {
    font-size: 40px;
    line-height: 48px;
    padding-bottom: 16px;
}

.calculator .actions {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.calculator .range-wrap {
    position: relative;
    width: 50%;
}

.calculator .range {
    width: 100%;
}

.calculator .bubble {
    color: #000;
    padding: 4px 12px;
    position: absolute;
    left: 50%;
    top: -30px;
    transform: translateX(-50%);
}


.calculator input[type=range] {
    accent-color: rgb(120, 190, 32);
}

.calculator .range-boundary-labels {
    display: flex;
    justify-content: space-between;
}

.calculator .currency-symbol {
    position: relative;
    top: 49px;
    left: 10px;
}